<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Wine Cellar - Ember</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>
    <body>
        <script type="text/x-handlebars" data-template-name="application">
            {{outlet}}
        </script>

        <script type="text/x-handlebars" data-template-name="index">
            {{template "header"}}
            {{template "home"}}
            {{template "footer"}}
        </script>

        <script type="text/x-handlebars" data-template-name="wines">
            {{template "header"}}
            {{template "wines-list"}}
            {{template "footer"}}
        </script>

        <script type="text/x-handlebars" data-template-name="wine">
            {{template "header"}}
            {{template "wine-edit"}}
            {{template "footer"}}
        </script>

        <script type="text/x-handlebars" data-template-name="add">
            {{template "header"}}
            {{template "wine-new"}}
            {{template "footer"}}
        </script>

        <script type="text/x-handlebars" data-template-name="about">
            {{template "header"}}
            {{template "about-app"}}
            {{template "footer"}}
        </script>

        <div class="row-fluid status-bar">
            <div class="span12">
                <div class="alert alert-success" style="display: none">
                    <b>Success!</b> Wine saved successfully
                </div>
            </div>
        </div>

        <script src="http://use.edgefonts.net/andika.js"></script>
        <script src="http://use.edgefonts.net/arvo.js"></script>

        <script src="js/libs/jquery-1.9.1.js"></script>
        <script src="js/libs/handlebars-1.0.0-rc.3.js"></script>
        <script src="js/libs/ember-1.0.0-rc.2.js"></script>
        <script src="js/libs/ember-data.js"></script>
        <script src="js/libs/bootstrap.min.js"></script>
        <script src="js/templates.js"></script>
        <script src="js/app.js"></script>
        <script src="js/router.js"></script>
        <script src="js/controllers/add_controller.js"></script>
        <script src="js/controllers/wine_controller.js"></script>
        <script src="js/controllers/wines_controller.js"></script>
        <script src="js/models/store.js"></script>
        <script src="js/models/wine.js"></script>
        <script src="js/views/required_textfield.js"></script>
        <script src="js/views/wine_view.js"></script>
        <script src="js/views/add_view.js"></script>

    </body>
</html>
